<% if @router %>
	<span id="router-name"><b><%= @router.name + " " + @router.models.join(',') %></b> &nbsp;
	<small><%= link_to_remote "change",
			:update => "router-name",
			:before => spinner_show('model'),
			:success => spinner_hide('model'),
			:url => { :controller => 'network', :action => 'router_selector' } %></small></span>
<% else %>
	<%= render :partial => "network/router/selector" %>
<% end %>
&nbsp; <%= spinner "model" %>
<span id="router_errors"></span>
