#aliases-table
  .settings-table
    - if aliases.size > 0
      table.settings
        thead
          tr
            th.settings-col1.aliases-col1 scope="col"
              = t 'dns_alias'
            th.settings-col2.aliases-col2 scope="col"
              = t 'ip_address'
        tbody style="display: none"
          tr
            td
      = render :partial => 'aliases/one', :collection => aliases

    - else
      div align="center"
        h2
          = t 'there_are_no_aliases_defined'
