<div id="aliases-table">
	<div class="settings-table">
		<% if aliases.size > 0 %>
			<table class="settings">
			  <thead>
			  <tr>
			    <th scope="col" class="settings-col1 aliases-col1"><%=t 'dns_alias' %></th>
			    <th scope="col" class="settings-col2 aliases-col2"><%=t 'ip_address' %></th>
			  </tr>
			</thead>
			<tbody style="display: none"><tr><td></td></tr></tbody>
			</table>
			<%= render :partial => 'aliases/one', :collection => aliases %>
		<% else %>
			<div align="center">
				<h2><%=t 'there_are_no_aliases_defined' %></h2>
			</div>
		<% end %>
	</div>
</div>

