br/
= button_to " #{t('new_alias')} &raquo; ", update_page { |page| \
  	page.hide 'new-alias-to-step1'                               \
  	page[:alias_alias].value = ""                                \
  	page[:alias_address].value = ""                              \
  page[:alias_address].disabled = true                          \
  page[:alias_create_button].disabled = true                    \
  page.select(".messages").each do |item|                       \
  page.send 'replace_html', item, ""                            \
  end                                                           \
  	page.show 'new-alias-step1'                                  \
  	page[:alias_alias].focus                                     \
  }, :id => "new-alias-to-step1"                                \
div align="center" 
  #new-alias-box
    #alias-new
      br/
      = error_messages_for :alias
      br/
      #new-alias-step1 style=("display: none") 
        = render :partial => "aliases/step1", :locals => { :newalias => DnsAlias.new }
