<% id="part-#{path}"
	# do not allow stuff on /media to the pool see bug #616 and helpers/share_helper.rb
	disabled = (!Greyhole.enabled?) || path =~ /^\/media/
	checked = checked && !disabled 
%>
<span id="<%= id %>">
<% if disabled %>
	<%= check_box_tag "cb-#{id}", '', false, :disabled => true %>
<% else %>
	<%= checkbox_to_remote checked,
		:url => { :controller => 'share', :action => 'toggle_disk_pool_partition', :path => path },
		:submit => id,
		:before => "Element.show('spinner-#{id}')",
		:success => "Element.hide('spinner-#{id}')",
		:update => id -%>
<% end %>
</span>
