<div id="extras_<%= share.id %>">
<%= editable_content(
	:content => {
	  :element => 'span',
	  :text => (share.extras and !share.extras.blank?) ? h(share.extras) : t('add_extra_parameters'),
	  :options => {
	    :id => "share_extras_#{share.id}",
	    :class => 'editable'
	  }
	 },
	:url => {
	  :controller => 'share',
	  :action => 'update_extras',
	  :id => share.id
	},
	:ajax => {
		:rows => 10
	})
%>
	&nbsp; &nbsp; &nbsp; &raquo; <a href="http://wiki.amahi.org/index.php/Share_Extra_Parameters" target="_blank"><%= theme_image_tag "more"  %></a>
</div>
