<div id="shares" class="settings">

  <div class="error" style="display:none"></div>

  <div style="width: 95%">
  <fieldset>
  <legend>&nbsp; <%=t 'global_settings_for_shares' %> &nbsp;</legend>
  <div class="settings-fields" id="shares-settings">
	<%= render :partial => 'share/settings_all' %>
  </div>
  </fieldset>
  </div>

</div>
