ul.prefsubtab
  li[class="#{subtab_class('index')} first"]= link_to t('shares'), shares_path
  - if advanced?
    li[class="#{subtab_class('settings')} last"]= link_to t('settings'), settings_shares_path
