  <div>
    <h2>  <a href="http://search/search/hda">HDA</a>
	| <a href="http://search/search/web"><%=t 'web' %></a>
	| <a href="http://search/search/images"><%=t 'images' %></a>
	| <a href="http://search/search/audio"><%=t 'audio' %></a>
	| <a href="http://search/search/video"><%=t 'video' %></a>
	| <a href="http://search/search/news"><%=t 'news' %></a></h2>
    <form action="http://search/search/hda" id="searchform">
      <p>
      <input id="fullsearchinput" name="full_search" type="text" accesskey="f" style="width:374px;" value="<%= @search_value %>" />
      <input type="submit" class="searchbutton" name="button" value="<%=t 'search' %>" />
      </p>
    </form>
  </div>

