= form_for User.new,
    :remote => true,\
    :url => '/users/${user_id}/update_name',\
    :method => :put,
    :html => {\
      :class => 'user area username-form form-inline',\
      :data => {\
        :ok_icon_path => theme_image_path('ok.png'),\
        :error_icon_path => theme_image_path('stop.png')\
      },\
      :id => 'update-username'\
    } do |f|
  .user-edit
    .control-group
      .controls= f.text_field :name, :size => 16, :maxlength => 64, :placeholder => "Full Name"
    .control-group
      .controls
        = f.submit " #{t('change')} ".html_safe, :id => 'user_create_button', :class => 'btn'
        = link_to t('cancel'), '#', :class => 'close-username-edit cancel-link'
      .messages
