#hosts-table
  .settings-table
    - if hosts.size > 0
      table.settings
        thead
          tr
            th.settings-col1.hosts-col1 scope="col" 
              = t 'name'
            th.settings-col2.hosts-col2 scope="col" 
              = t 'static_ip_address'
        tbody style="display: none" 
          tr
            td
      = render :partial => 'hosts/one', :collection => hosts
    - else
      div align="center" 
        h2
          = t 'there_are_no_static_ips_defined'
 