br

= button_to " #{t('new_static_ip')} &raquo; ", update_page { |page| \
    page.hide 'new-host-to-step1'                                     \
    page[:host_host].value = ""                                       \
    page[:host_address].value = ""                                    \
    page[:host_address].disabled = true                               \
    page[:host_mac].value = ""                                        \
    page[:host_mac].disabled = true                                   \
    page[:host_create_button].disabled = true                         \
    page.select(".messages").each do |item|                           \
      page.send 'replace_html', item, ""                             \
    end                                                               \
    page.show 'new-host-step1'                                        \
    page[:host_host].focus                                            \
  }, :id => "new-host-to-step1"

div align="center"
  #new-host-box
    #host-new
      br
      = error_messages_for :host
      br
      #new-host-step1 style="display: none"
        = render :partial => "hosts/step1", :locals => { :newhost => Host.new }
