<%= button_to " #{t('new_web_app')} &raquo; ", update_page { |page|
   	page.hide 'new-webapp-to-step1'
   	page[:name].value = ""
   	page[:path].value = ""
	page[:webapp_create_button].disabled = true
	page.select(".messages").each do |item|
		page.send 'replace_html', item, ""
	end
   	page.show 'new-webapp-step1'
   	page[:name].focus
   }, :id => "new-webapp-to-step1" %>

<div align="center">
	<div id="new-webapp-box" >
		<div id="webapp-new">

   		<br />
   		<%= error_messages_for :setup %>
   		<br />

   		<% form_for :webapp, :id => "webapp-new", :url => { :controller => 'webapp', :action => 'create' } do |f| -%>

   			<div style="display: none" id="new-webapp-step1">
   				<%= render :partial => "webapp/step1", :locals => { :form => f } -%>
   			</div>

   		<% end %>
		</div>
	</div>
</div>
