<br />

<div id="global-settings" class="settings">

  <div class="error" style="display:none"></div>

  <div style="width: 95%">
  <fieldset>
  <legend>&nbsp; <%=t 'global_settings' %> &nbsp;</legend>
  <div class="settings-fields" id="settings-table">
	<%= render :partial => "setting/all" %>
  </div>

  </fieldset>
  </div>

  <div style="display: none" id="error_msgs"></div>

</div>

<br />

<div id="info-settings" class="settings">
  <div style="width: 95%">
  <%= render :partial => "setting/info" %>
  </div>
</div>

<br />
