<tr><td> &nbsp; </td><td> &nbsp; </td><td> &nbsp; </td></tr>
<tr>
	<td><%=t 'mac_address' %>:</td><td> &nbsp; </td>
	<td><%= rule.mac %></td>
</tr>
<tr><td> &nbsp; </td><td> &nbsp; </td><td> &nbsp; </td></tr>
<tr>
	<td><%=t 'comment' %>:</td><td> &nbsp; </td>
	<td><%= h(rule.comment) %></td>
</tr>
