- protocol_options = options_for_select [['Both', 'both'], ['TCP', 'tcp'], ['UDP', 'udp']]
#port-forward.fw-selection
  table
    tr
      td
      td= t 'firewall_port_forward_message'
    tr
      td.fw-label
        = t 'ip_address'
        | \:
      td.fw-setting
        big
          = @net
          | \.
        = text_field_tag :ip, "", :size => 3, :maxlength => 3
        span#ip_messages.messages style=("display: none") 
    tr
      td.fw-label
        = t 'protocol'
        | \:
      td.fw-setting
        = select_tag :protocol, protocol_options
        span#protocol_messages.messages style=("display: none") 
    tr
      td.fw-label
        = t 'port_range'
        | \:
      td.fw-setting
        = text_field_tag :range_lo, '', :size => 4, :maxlength => 5
        | \-
        | \#{text_field_tag :range_hi, '', :size => 4, :maxlength => 5}
        span#range_messages.messages style=("display: none") 
    tr
      td.fw-label
        = t 'comment'
        | \:
      td.fw-setting= text_field_tag :comment, '', :size => 25, :maxlength => 40
= render :partial => 'firewall/new_button'
= observe_field 'range_hi', :frequency => 0.5,                                                                \
  url => { :controller => 'firewall', :action => 'check_port_range_hi' },                                    |:
  with => "'range_hi=' + encodeURIComponent(value) + '&range_lo=' + encodeURIComponent($('range_lo').value)" |:
= observe_field 'range_lo', :frequency => 0.5,                                                                \
  url => { :controller => 'firewall', :action => 'check_port_range_lo' },                                    |:
  with => "'range_lo=' + encodeURIComponent(value) + '&range_hi=' + encodeURIComponent($('range_hi').value)" |:
= observe_field 'ip', :frequency => 0.5,                        \
  url => { :controller => 'firewall', :action => 'check_ip' }, |:
  with => "'ip=' + encodeURIComponent(value)"                  |:
