- protocol_options = options_for_select [['Both', 'both'], ['TCP', 'tcp'], ['UDP', 'udp']]

#ip-filter.fw-selection
  table
    tr
      td
      td
        =t 'these_rules_are_used_to_restrict_ips'
    tr
      td.fw-label
        =t 'ip_address'
        | :
      td.fw-setting
        big
          = @net
          | .
        = text_field_tag :ip, "", :size => 3, :maxlength => 3
        span#ip_messages.messages style="display: none"
    tr
      td.fw-label
        =t 'protocol'
        | :
      td.fw-setting
        = select_tag :protocol, protocol_options
        span#protocol_messages.messages style="display: none"
    tr
      td.fw-label
        =t 'comment'
        | :
      td.fw-setting
        = text_field_tag :comment, '', :size => 25, :maxlength => 40
    tr
      td
      td
        =t 'this_ip_will_be_filtered'

= render :partial => 'firewall/new_button'
= observe_field 'ip', :frequency => 0.5,    \
 			:url => { :controller => 'firewall', :action => 'check_ip' }, \
 			:with => "'ip=' + encodeURIComponent(value)"
