<div>
      <table>
      <tr> <td>&nbsp;</td><td></td> </tr>
      <tr>
      	<td class="fw-label"></td>
      	<td>
      	<%= link_to_remote t('cancel'),
			:url => { :controller => 'firewall', :action => 'new_rule_type', :rule => 'select' },
			:before => "$('rule').value = 'select'; Element.show('spinner-select')",
			:success => "Element.hide('spinner-select'); Element.hide('new-firewall-step1'); Element.show('new-firewall-to-step1')",
			:update => 'fw_fields' %>
      	&nbsp;&nbsp;
      	<%= submit_to_remote "create_firewall", " #{t('create')} &raquo; ",
      			:url =>  { :controller => 'firewall', :action => 'create' },
      			:html =>  { :id => "firewall_create_button", :disabled => true },
			:before => "Element.show('spinner-create')",
			:success => "Element.hide('spinner-create')",
      			:failure =>  "alert('HTTP Error ' + request.status + '!')",
      			:update => { :success => "fw-rules", :failure => "create_firewall_error_msgs" } %>
			<%= spinner "create" %>
      	</td>
      </tr>
      </table>
</div>
