<form action="#" name="alias_add_form">
<%= text_field_tag :wa_alias, "", :size => 16, :maxlenth => 80 %>
<%= submit_to_remote "add_alias", " #{t 'create'} ",
                :url =>  { :controller => 'webapp_alias', :action => 'create', :id => @id },
                :with => "'name=' + escape($('wa_alias').value)",
                :before => spinner_show(@id),
                :success => spinner_hide(@id),
                :update => { :success => "webapp_aliases_#{@id}"} %> 
&nbsp; <%= link_to_remote t('cancel'),
                :url =>  { :controller => 'webapp_alias', :action => 'index', :id => @id },
                :before => spinner_show(@id),
                :success => spinner_hide(@id),
                :update => { :success => "webapp_aliases_#{@id}"}
		 %>
<br/>
</form>
