<div id="webapps-table">
	<div class="settings-table">
		<% if webapps.size > 0 %>
			<table class="settings">
			  <thead>
			    <tr>
			      <th scope="col" class="settings-col1 webapps-col1"><%=t 'name' %></th>
			      <th scope="col" class="settings-col2 webapps-col2"><%=t 'url' %></th>
			    </tr>
			  </thead>
			  <tbody></tbody>
			</table>
			<%= render :partial => 'webapp/webapp', :collection => webapps %>
		<% else %>
			<div align="center">
				<div align="left">
				<h2><%=t 'there_are_no_webapps' %></h2>
				<p>Web apps are web-based applications hosted in your Amahi HDA.</p>
				<p>Example of web apps are <a target="_blank" href="http://www.wordpress.org">Wordpress</a>,
					<a target="_blank" href="http://www.mediawiki.org">MediaWiki</a>,
					<a target="_blank" href="http://gallery.menalto.com/">Gallery</a>,
					<a target="_blank" href="http://www.webmin.com/">Webmin</a> and
					<a target="_blank" href="http://phpsysinfo.sourceforge.net/">PHPSysinfo</a>.</p>
				<p>There are a myriad of other apps that run under Linux.</p>
				<p>You can install web apps in this panel by:</p>
				<p>
					<ul>
					<li>Deciding what <b>name</b> you want to access the web app within your network (e.g. http://blog), and</li>
					<li>Selecting where is the <b>root directory</b> of the app you want to run</li>
					</ul>
				</p>
				<p>The application code is expected to be present (before or after configuring the app) in the root directory.</p>
				<p>You can install it there as an archive from source (tar/zip), or as a package from existing applications in the base OS.</p>
				<p>Currently supported are applications based on LAMP (PHP), Python, static pages and others.</p>
				<p>We have a small <a target="_blank" href="http://wiki.amahi.org/index.php/Category:Apps">gallery of apps</a> that other Amahi
				developers and users have tried and tested.</p>
				</div>
			</div>
		<% end %>
	</div>
</div>
