// BORDER RADIUS
@mixin border-radius($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
// BOX SHADOW
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

body {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	&.login {border-top-color: #464646;}
}

html {
	background-image: url(/assets/body_bg.jpg);
	background-clip: border-box;
	background-color: transparent;
	background-image: url(/assets/body_bg.jpg);
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	background-attachment: scroll;
	background-attachment: scroll;
	height: 100%;
}

#nav {
  margin: 0 0 0 8px;
  padding: 16px;
  a: {color: #777;}
}

a {text-decoration: none;}

#logo {
  margin-top: 100px;
  h1 a {
    background: url(/assets/amahi-logo.png) no-repeat top center;
    width: 326px;
    height: 67px;
    text-indent: -9999px;
    overflow: hidden;
    padding-bottom: 20px;
    display: block;
  }
}

#login {
  width: 380px;
  margin: 20px  auto 7em auto;
}

.alert-danger{
  margin: 0 0 16px 8px;
  padding: 12px;
  border: 1px solid #C00000;
  background-color: #FFEBE8;
}

.message-message {
  margin: 0 0 16px 8px;
  padding: 12px;
  border: 1px solid #9ee894;
  background-color: #e0ffda;
}

.alert-info {
  margin: 0 0 16px 8px;
  padding: 12px;
  border: 1px solid #FAB762;
  background-color: #FFF8B0;
}

form {
  margin-left: 8px;
  padding: 26px 46px 74px 46px;

  font-weight: bold;

  @include border-radius(5px);
  @include box-shadow(rgba(200,200,200,1) 0 4px 18px);

  background: #28374E;
  background: -webkit-gradient(linear, center top, center bottom, from(#4a6495), to(#1C2838));
  background: -moz-linear-gradient(center top, #4a6495, #1C2838) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a6495', endColorstr='#1C2838');
  border: 1px solid #444C5E;

  .rememberme {
    font-weight: normal;
    float: left;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 24px;
  }

  label {
    padding-bottom: 4px;
    display: block;
    text-align: left;
    vertical-align: top;
    color: #eee;
  }

  input {
    color: #555;
      background-color: #eee;
    &[disabled='disabled'] {
      color: #999;
      background-color: #eee;
    }
  }

  .submit {

    float: right;

    input {

      margin-top: -6px;
      padding: 5px 10px 5px 10px;

      background-color: #CD6B08 !important;

      font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
      font-size: 13px;
      color: #eee;

      border: 0px;
      @include border-radius(6px);

	cursor: default;
	background: -webkit-gradient(linear, center top, center bottom, from(#FAA51A), to(#F47A20));
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
	border: 1px solid #DA7C0C;
	color: #FEF4E9;

	border-radius: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: inline-block;
	font: 14px/100% Arial,Helvetica,sans-serif;
	margin: 0 2px;
	outline: medium none;
	padding: 0.5em 2em 0.55em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	vertical-align: baseline;

      &:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#F88E11), to(#F06015));
	background: -moz-linear-gradient(center top , #F88E11, #F06015) repeat scroll 0 0 transparent;
        border-color: #8e6203;
	text-decoration: none;
      }
    }
  }

  #password, #username, #password_confirmation, #user_email {
    font-size: 20px;
    width: 97%;
    padding: 3px;
    margin-right: 6px;
  }

}

.updated {
	background-color: #ffffe0;
	border-color: #e6db55;
}

input::-webkit-input-placeholder { color: #bbb; font-weight: normal; }
input:-moz-placeholder { color: #bbb; font-weight: normal; }
input::-moz-placeholder { color: #bbb; font-weight: normal; }
input:-ms-input-placeholder { color: #bbb; font-weight: normal; }

