* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0; }

html, body {
  height: 100%; }

body {
  background: #333;
  font-size: 12px;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif; }

h2 {
  line-height: initial;
  font-size: initial; }

a {
  color: #0090d1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.align-center {
  text-align: center; }

.default-message {
  padding: 10px; }

#locale, #setting_dns select {
  border: 1px solid #cccccc; }

.hover-style{
 cursor: pointer;
}

.hover-style:hover{
 background: #d4d4d4;
}

.inside {
  width: 960px;
  margin: 0 auto;
  position: relative;
  *zoom: 1; }
  .inside:before, .inside:after {
    display: table;
    content: "";
    line-height: 0; }
  .inside:after {
    clear: both; }

.workgroup_click_change, .name_click_change, .lease_click_change, .gateway_click_change, .dyn_lo_click_change, .dyn_hi_click_change {
  color: #505050 !important;
  text-decoration: none;
  border-bottom: 1px dashed;
  font-weight: bold; }
  .workgroup_click_change:hover, .name_click_change:hover, .lease_click_change:hover, .gateway_click_change:hover, .dyn_lo_click_change:hover, .dyn_hi_click_change:hover {
    border-bottom: 1px dashed;
    text-decoration: none; }

form {
  color: black; }

fieldset {
  margin: 15px;
  border: 0;
  border: 1px solid #dfdfdf;
  padding: 5px 10px;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.access fieldset {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 0; }

legend, fieldset {
  color: darkgrey; }

legend {
  padding: 0 15px;
  width: inherit;
  font-size: inherit;
  line-height: initial; }

legend b, fieldset b, .editable {
  color: black; }

label {
  color: #535353;
  margin: 0 0.4em;
  display: initial; }

input[type="text"],
input[type="password"] {
  border: 1px solid #d0cece;
  height: 24px;
  width: 153px;
  padding: 0 10px;
  background: #fff;
  font-size: 12px;
  margin: 4px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle; }
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */ }

.inactive {
  pointer-events: none;
  cursor: default; }

.form-inline {
  *zoom: 1; }
  .form-inline:before, .form-inline:after {
    display: table;
    content: "";
    line-height: 0; }
  .form-inline:after {
    clear: both; }
  .form-inline.update-password {
    width: 600px; }
  .form-inline .password-edit .control-group {
    float: none;
    margin: 0 0 10px;
    *zoom: 1; }
    .form-inline .password-edit .control-group:before, .form-inline .password-edit .control-group:after {
      display: table;
      content: "";
      line-height: 0; }
    .form-inline .password-edit .control-group:after {
      clear: both; }
    .form-inline .password-edit .control-group .controls {
      margin: 0 20px 0 0; }
  .form-inline .control-group {
    margin: 0 10px 10px 0; }

.form_hidden {
  display: none; }

.form-horizontal .control-group {
  margin: 0 0 10px; }
  .form-horizontal .control-group .controls {
    margin-left: 0px; }
.form-horizontal textarea {
  display: block; }

.control-group {
  *zoom: 1; }
  .control-group:before, .control-group:after {
    display: table;
    content: "";
    line-height: 0; }
  .control-group:after {
    clear: both; }
  .control-group .controls input[type=text], .control-group .controls input[type=password] {
    margin: 0; }
  .control-group div.messages {
    width: auto; }
  .control-group .cancel-link {
    margin: 0 0 0 10px;
    display: inline-block; }

.create-form.share .row:last-child {
  margin: 0; }
.create-form .create-inside .create-btn {
  margin: 0 0 10px; }
.create-form .create-btn {
  margin: 0 0 19px 20px; }
  .create-form .create-btn .btn-create {
    margin: 0; }
.create-form .control-group {
  *zoom: 1;
  margin: 0 0 10px; }
  .create-form .control-group:before, .create-form .control-group:after {
    display: table;
    content: "";
    line-height: 0; }
  .create-form .control-group:after {
    clear: both; }
  .create-form .control-group .controls {
    margin-left: 0px; }
  .create-form .control-group div.messages {
    color: darkgrey;
    line-height: 26px;
    height: 26px;
    margin-left: 10px; }

.margin-for-message {
  margin-right: 20px; }

.shares-fixed-tags {
  padding: 10px 0 0; }

.tags .form-inline {
  margin: 0 0 -10px 0; }

input[type=button], input[type=submit], .btnn {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 4px 12px;
  color: #fff;
  border: 1px solid #322525;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e8715f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8715f), to(#bc0332));
  background-image: -webkit-linear-gradient(top, #e8715f, #bc0332);
  background-image: -moz-linear-gradient(top, #e8715f, #bc0332);
  background-image: -ms-linear-gradient(top, #e8715f, #bc0332);
  background-image: -o-linear-gradient(top, #e8715f, #bc0332);
  background-image: linear-gradient(top, #e8715f, #bc0332);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor); }
  input[type=button]:hover, input[type=submit]:hover, .btnn:hover {
    color: #fff;
    background-color: #e78577;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e78577), to(#fe0646));
    background-image: -webkit-linear-gradient(top, #e78577, #fe0646);
    background-image: -moz-linear-gradient(top, #e78577, #fe0646);
    background-image: -ms-linear-gradient(top, #e78577, #fe0646);
    background-image: -o-linear-gradient(top, #e78577, #fe0646);
    background-image: linear-gradient(top, #e78577, #fe0646);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4); }
  input[type=button]:active, input[type=submit]:active, .btnn:active {
    top: 2px;
    background-color: #bc0332;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bc0332), to(#e8715f));
    background-image: -webkit-linear-gradient(top, #bc0332, #e8715f);
    background-image: -moz-linear-gradient(top, #bc0332, #e8715f);
    background-image: -ms-linear-gradient(top, #bc0332, #e8715f);
    background-image: -o-linear-gradient(top, #bc0332, #e8715f);
    background-image: linear-gradient(top, #bc0332, #e8715f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6); }

input[type=button][disabled="disabled"], input[type=submit][disabled="disabled"] {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 4px 12px;
  color: #fff;
  border: 1px solid #d4d4d4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#bdbdbd));
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: -ms-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: -o-linear-gradient(top, #e8e8e8, #bdbdbd);
  background-image: linear-gradient(top, #e8e8e8, #bdbdbd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor); }
  input[type=button][disabled="disabled"]:hover, input[type=submit][disabled="disabled"]:hover {
    background-color: #e8e8e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fcfcfc));
    background-image: -webkit-linear-gradient(top, #e8e8e8, #fcfcfc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #fcfcfc);
    background-image: -ms-linear-gradient(top, #e8e8e8, #fcfcfc);
    background-image: -o-linear-gradient(top, #e8e8e8, #fcfcfc);
    background-image: linear-gradient(top, #e8e8e8, #fcfcfc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4); }
  input[type=button][disabled="disabled"]:active, input[type=submit][disabled="disabled"]:active {
    top: 2px;
    background-color: #bdbdbd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #bdbdbd, #e8e8e8);
    background-image: -moz-linear-gradient(top, #bdbdbd, #e8e8e8);
    background-image: -ms-linear-gradient(top, #bdbdbd, #e8e8e8);
    background-image: -o-linear-gradient(top, #bdbdbd, #e8e8e8);
    background-image: linear-gradient(top, #bdbdbd, #e8e8e8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6); }

.cancel-link {
  margin: 0 0 0 10px; }

.open-area {
  margin: 15px 0 0; }

#systems-result {
  overflow: hidden;
  text-align: center;
  padding: 15px 345px 15px 0; }

.btn-system {
  display: inline-block;
  text-indent: -9999px;
  height: 48px;
  width: 48px;
  margin: 0 20px; }
  .btn-system#btn-poweroff {
    background: url(../images/poweroff.png) no-repeat left center; }
  .btn-system#btn-reboot {
    background: url(../images/reboot.png) no-repeat left center; }

.btn-delete {
  display: block;
  text-align: right;
  height: 17px;
  width: 200px;
  padding: 0 26px;
  background: url(../images/delete.png) no-repeat right center;
  text-decoration: none;
  color: darkgrey; }

.btn-refresh {
  background: url(../images/server/refresh.png) no-repeat right center; }

.btn-start {
  background: url(../images/server/start.png) no-repeat right center; }

.btn-stop {
  background: url(../images/server/stop.png) no-repeat right center; }

.btn-restart {
  background: url(../images/server/restart.png) no-repeat right center; }

.btn-refresh, .btn-start, .btn-stop, .btn-restart {
  display: inline-block;
  height: 25px;
  width: 25px;
  text-indent: -9999px;
  margin: 0 5px 0 10px; }

#header {
  width: 100%;
  margin: 0 auto;
  border-top: 5px solid #000;
  background: #333;
  overflow: hidden;
  height: 59px; }
  #header a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none; }
    #header a:hover {
      text-decoration: underline; }
  #header #logo-two, #header #pagetitle, #header #search-form {
    display: none; }

#head-left {
  float: left;
  margin-top: 17px;
  margin-left: 0;
  display: inline; }
  #head-left ul {
    list-style: none;
    *zoom: 1; }
    #head-left ul:before, #head-left ul:after {
      display: table;
      content: "";
      line-height: 0; }
    #head-left ul:after {
      clear: both; }
  #head-left li {
    float: left; }
  #head-left #searchinput {
    background: #fff;
    width: 180px;
    height: 24px;
    line-height: 18px;
    padding: 0 14px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 12px;
    color: #666;
    margin: 0 10px 0 0;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #head-left a {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 9px;
    height: 24px;
    line-height: 24px; }
    #head-left a:hover {
      text-decoration: none;
      background: #000;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.17);
      -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.17);
      box-shadow: 0 1px 1px rgba(255, 255, 255, 0.17); }
  #head-left input[type=submit] {
    float: left;
    margin: 0 2px 0 0; }

#head-right {
  margin-top: 17px;
  margin-right: 0;
  float: right;
  display: inline; }
  #head-right ul {
    list-style: none;
    *zoom: 1; }
    #head-right ul:before, #head-right ul:after {
      display: table;
      content: "";
      line-height: 0; }
    #head-right ul:after {
      clear: both; }
    #head-right ul li {
      float: left;
      padding: 0 0 1px 0;
      margin: 0 0 0 15px; }
      #head-right ul li:first-child {
        display: none; }
  #head-right a {
    display: block;
    padding: 0 9px;
    height: 24px;
    line-height: 24px;
    float: left; }
    #head-right a:hover {
      text-decoration: none;
      background: #000;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.17);
      -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.17);
      box-shadow: 0 1px 1px rgba(255, 255, 255, 0.17); }

#content {
  width: 100%;
  background: #fff;
  overflow: auto;
  padding-bottom: 70px;
  *zoom: 1; }
  #content:before, #content:after {
    display: table;
    content: "";
    line-height: 0; }
  #content:after {
    clear: both; }

#subheader {
  width: 960px;
  margin: 5px auto 20px; }
  #subheader ul {
    height: 74px; }
  #subheader li {
    float: left;
    list-style: none; }
  #subheader li#first {
    color: #dfdfdf;
    background: url(../images/logo.png) no-repeat left center;
    width: 539px;
    height: 56px;
    font-size: 33px;
    display: block;
    padding: 36px 0 0 174px; }

.page-title{
  font-size: 2.5rem;
  color: #44444482;
}

@media (max-width: 769px){
  .page-title{
    margin-left: 110px;
  }
}

@media (min-width: 770px){
  .page-title{
    margin-left: 85px;
  }
}

@media (min-width: 992px){
  .page-title{
    margin-left: 40px;
  }
}

#app {
  margin: 15px auto 0;
  width: 960px; }

#welcome_apps {
  list-style: none;
  *zoom: 1; }
  #welcome_apps:before, #welcome_apps:after {
    display: table;
    content: "";
    line-height: 0; }
  #welcome_apps:after {
    clear: both; }
  #welcome_apps li {
    float: left;
    width: 310px;
    margin: 0 0 23px; }
    #welcome_apps li a {
      display: table; }
    #welcome_apps li img {
      float: left;
      margin: 0 19px 0 0; }
    #welcome_apps li strong {
      display: table-cell;
      vertical-align: middle; }
  #welcome_apps #install-apps {
    background: url(../images/dashboard.png) no-repeat;
    width: 400px;
    height: 235px;
    margin: 35px auto 0; }

.welcome_desc a, .welcome_desc-small a {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: black; }

.welcome_desc a:hover, .welcome_desc-small a:hover {
  text-decoration: underline; }

.welcome-logo, .welcome-logo-small {
  width: 50px;
  padding: 10px;
  background: #fff;
  border: 3px solid #dfdfdf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

#preferences {
  border: 1px solid #e8e8e8;
  border-top: none;
  padding: 20px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }

section#dashboard {
  float: left;
  text-align: center;
  /*width: auto; */
  /*margin-right: 285px;*/
}

.app-card{
  max-width: 400px; 
  margin: 0 auto;
}

#latest_news {
  float: right;
  border: 1px solid #e6e6e6;
  width: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #latest_news #ln_header {
    background: #f7f6f6;
    font-weight: bold;
    color: #333;
    height: 28px;
    padding: 12px 17px 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
  #latest_news h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0px; }

#install-apps {
    background: url(../images/dashboard.png) no-repeat;
    width: 400px;
    height: 235px;
    margin: 35px auto 0; 
    float: left;
}    

#latest_news {
  margin-top: 25px;
  background: #f7f6f6; }
  #latest_news > ul {
    list-style: none;
    margin: 0 0 0px 0px; }
    #latest_news > ul li {
      background-color: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f6f6));
      background-image: -webkit-linear-gradient(top, #fff, #f7f6f6);
      background-image: -moz-linear-gradient(top, #fff, #f7f6f6);
      background-image: -ms-linear-gradient(top, #fff, #f7f6f6);
      background-image: -o-linear-gradient(top, #fff, #f7f6f6);
      background-image: linear-gradient(top, #fff, #f7f6f6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
      padding: 10px 15px; }
      #latest_news > ul li a {
        color: #333;
        font-weight: bold;
        display: block;
        margin: 0 0 5px; }
      #latest_news > ul li span {
        display: block;
        background: url(../images/date-icon.png) no-repeat left 1px;
        margin-left: 40px;
        color: #9a9a9a;
        padding: 0 25px 0 0;
        font-size: 11px; }
  #ln_content #more_news {
    background: #f7f6f6;
    line-height: 30px;
    text-align: center;
    display: block;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
    #more_news a {
      color: #000;
      display: inline;
      font-weight: bold; }

@media screen and (max-width: 992px) {
  .card-columns {
    column-count: 4;
  }
}

@media screen and (max-width: 600px) {
  .card-columns {
    column-count: 3;
  }
}

#welcome-apps{
  width: 470px;
  margin-left: 20px;
}

.app-item-card{
  width: 180px;
  padding: 1rem; 
  float: left; 
  height: 12rem;
}

.app-item-card:hover{
  cursor: pointer;
  box-shadow: 0 4px 10px 0 #0000002b;
}

@media screen and (min-width: 992px) {
  #welcome-apps {
    width: 700px;
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #welcome-apps {
    width: 450px;
    margin-left: 0px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #welcome-apps {
    width: 540px;
    margin-left: 60px;
  }
}

.tab-link-style{
  font-size: 13px; 
  padding: 0.7rem 1.2rem;
  background: #f3f3f3 !important;
  border-bottom: 0px !important;
}

.active-tab-link-style{
  font-size: 14px; 
  padding: 0.7rem 1.2rem; 
  background: #dedede1c !important;  
  border-bottom: 0px;
}

.tab-link-style:hover{
  font-size: 13px;   
  background: #dedede1c !important;
  border-bottom: 0px !important;
}

.subtab-link{
  font-size: 12px; 
  padding: 10px 15px; 
  text-decoration: none; 
  color: #333;
  border: 1px solid #00000000;
  margin-left: 2px;
}

.active-subtab-link{
  font-size: 12px; 
  padding: 10px 15px; 
  text-decoration: none; 
  color: #333;
  background: #f7f7f7;
  border: 1px solid #d8d8d8;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  margin-left: 2px;
}

.active-subtab-link:hover{
  text-decoration: none; 
  color: #333;
}

.subtab-link:hover{
  background: #f7f7f7;
  border: 1px solid #333;
  text-decoration: none; 
  color: #333;  
  border: 1px solid #d8d8d8;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
}

#tabs {
  border: 1px solid #e8e8e8;
  border-bottom-color: #dfdfdf;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor); }

nav.preftab {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  position: relative;
  z-index: 100;
  height: auto; }
  nav.preftab.subtab {
    height: 67px; }
  nav.preftab ul {
    list-style: none;
    margin: 0 0 0px 0px;
    *zoom: 1; }
    nav.preftab ul:before, nav.preftab ul:after {
      display: table;
      content: "";
      line-height: 0; }
    nav.preftab ul:after {
      clear: both; }
  nav.preftab li {
    float: left;
    border-right: 1px solid #e8e8e8; }
    nav.preftab li:first-child a {
      -moz-border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      border-radius: 5px 0 0 0; }
    nav.preftab li.active {
      border-bottom: none; }
      nav.preftab li.active > a {
        background: #fff;
        color: #3f3f3f; }
      nav.preftab li.active > ul {
        display: block;
        margin: 0 0 0px 0px;
        z-index: 100; }
    nav.preftab li:hover ul {
      z-index: 200; }
    nav.preftab li a {
      display: block;
      line-height: 38px;
      padding: 0 28px;
      font-size: 12px;
      font-weight: bold;
      color: #b3b3b3; }
      nav.preftab li a:hover {
        text-decoration: none;
        background: #fff;
        color: #3f3f3f; }
    nav.preftab li ul {
      display: block none;
      margin: 0 0 0px 0px;
      background: #fff;
      border-top: 1px solid #e8e8e8;
      position: absolute;
      left: 0;
      top: 38px;
      height: 28px;
      width: 958px;
      z-index: 10;
      zoom: 1;
      transition: z-index 0.7s ease 0.7s;
      -webkit-transition: z-index 0.7s ease 0.7s; }
      nav.preftab li ul li {
        border: 0; }
        nav.preftab li ul li.active a {
          color: #3f3f3f; }
        nav.preftab li ul li a {
          line-height: 28px;
          padding: 0 20px;
          font-weight: normal;
          color: #b3b3b3; }

#preferences .preftab, .settings {
  width: 100%; }

.preftab {
  border-collapse: collapse; }
  .preftab pre {
    padding: 10px;
    word-wrap: break-word; }

.settings-table {
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .settings-table > div:last-child .stretchtoggle {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
  .settings-table thead th:last-child {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0; }
  .settings-table tbody tr:last-child td {
    border-bottom: 0; }
    .settings-table tbody tr:last-child td:first-child {
      -moz-border-radius: 0 0 0 5px;
      -webkit-border-radius: 0 0 0 5px;
      border-radius: 0 0 0 5px; }
    .settings-table tbody tr:last-child td:last-child {
      -moz-border-radius: 0 0 5px 0;
      -webkit-border-radius: 0 0 5px 0;
      border-radius: 0 0 5px 0; }

.settings-table thead th {
  vertical-align: middle;
}

tr.even{
  background: #b3b3b3a1;
}

.apptable {
  border-collapse: collapse; }

thead.apptable td {
  color: #000;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 5px;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor); }

#calendars-table td {
  padding: 5px; }

table.settings, .settings th {
  border-collapse: collapse; }

#settings-table table tr td:first-child {
  vertical-align: top; }

.settings th, thead.apptable td {
  font-size: 13px;
  background: #333;
  color: #fff;
  border-collapse: collapse;
  padding: 5px;
  padding-left: 32px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-weight: bold; }

#calendars-table {
  border: 1px solid #e8e8e8; }

thead.apptable td:first-child, .fw-rules-col1 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0; }

thead.apptable td:last-child, .fw-rules-col3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0; }

.settings-col2.fw-rules-col2 {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.fw-rules-col3 {
  padding: 0 30px 0 0; }

.settings-col1 {
  padding: 6px 6px 6px 30px;  
  width: 30%;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0; }

.settings-col2, .users-col2, .shares-col2, .dhcp-col2 {
  width: 70%;
  padding: 0 0 0 30px;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0; }

.settings-lastcol {
  padding: 0 0 0 3px;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0; }

table.apptable, thead.apptable {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

table.settings tbody td {
  height: 35px;
  border-bottom: 1px solid #e8e8e8; }
table.settings .odd td {
  background: #f8f8f8; }

div.no-content {
  margin: 4em;
  text-align: center; }

th.centered, td.centered {
  text-align: center; }

table.apptable .odd td:first-child, table.apptable .even td:first-child {
  padding: 0 0 0 5px; }

#shares {
  padding-bottom: 20px; }
  #shares p {
    padding: 0 100px; }
  #shares table p, #shares div p {
    padding: 0; }

.stretchtoggle {
  height: 33px;
  line-height: 33px;
  border-bottom-color: #dfdfdf;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor); }
  .stretchtoggle td {
    text-align: left; }
    .stretchtoggle td a {
      color: #000;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      display: inline-block; }

.settings-stretcher {
  border-bottom: 1px solid #E8E8E8; }
  .settings-stretcher legend, .settings-stretcher fieldset {
    color: darkgrey;
    width: inherit;
    font-size: inherit;
    line-height: initial; }
  .settings-stretcher legend b, .settings-stretcher fieldset b {
    color: black; }

.editable {
  color: black; }

.settings-actions {
  float: right; }
  .settings-actions a img {
    margin: -3px 0 0 0; }

.settings-fields table {
  width: 100%;
  border-collapse: collapse; }
  .settings-fields table td:first-child {
    width: 110px;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #DFDFDF; }
.settings-fields td {
  padding: 0 0 10px 10px; }
.settings-fields table td table td {
  padding-bottom: 0;
  padding-left: 0;
  padding-top: 0 !important;
  border: 0 !important; }
.settings-fields table tr:first-child td {
  padding-top: 7px; }
.settings-fields .access thead td {
  padding-bottom: 4px;
  text-align: center; }

td.align-center {
  text-align: center; }
td.align-top {
  vertical-align: top; }

#update-username input[type=submit], #update-path-form input[type=submit] {
  position: relative;
  padding-bottom: 4px; }

.user-edit {
  margin-top: -4px; }
  .user-edit input[type=text] {
    margin-right: 0; }
  .user-edit label {
    margin-top: 5px; }

.password-edit label {
  float: none; }
.password-edit td:first-child {
  text-align: right; }

.settings-fields table.password-edit td.btn-wrap, td.btn-wrap {
  text-align: left; }

.messages {
  overflow: hidden;
  width: 235px; }
  .messages img {
    margin: 0 10px; }

.delete b {
  display: inline-block;
  margin: 0 5px 0 7px;
  *display: inline;
  *zoom: 1; }

#shares-table .shares-col2 a {
  background: none;
  text-indent: 0; }

.app-screenshot {
  width: 90%;
  vertical-align: top;
  margin: 5px;
  padding: 4px;
  border: 1px solid #cccccc; }

.app-more {
  padding: 7px;
  text-align: left; }

.app-logo {
  margin: 10px 3px 10px 18px; }

.app-url {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0 20px 0; }

.install-button {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 4px 12px;
  color: #fff;
  border: 1px solid #322525;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e8715f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8715f), to(#bc0332));
  background-image: -webkit-linear-gradient(top, #e8715f, #bc0332);
  background-image: -moz-linear-gradient(top, #e8715f, #bc0332);
  background-image: -ms-linear-gradient(top, #e8715f, #bc0332);
  background-image: -o-linear-gradient(top, #e8715f, #bc0332);
  background-image: linear-gradient(top, #e8715f, #bc0332);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor); }
  .install-button:hover {
    background-color: #e78577;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e78577), to(#fe0646));
    background-image: -webkit-linear-gradient(top, #e78577, #fe0646);
    background-image: -moz-linear-gradient(top, #e78577, #fe0646);
    background-image: -ms-linear-gradient(top, #e78577, #fe0646);
    background-image: -o-linear-gradient(top, #e78577, #fe0646);
    background-image: linear-gradient(top, #e78577, #fe0646);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4); }
  .install-button:active {
    top: 2px;
    background-color: #bc0332;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bc0332), to(#e8715f));
    background-image: -webkit-linear-gradient(top, #bc0332, #e8715f);
    background-image: -moz-linear-gradient(top, #bc0332, #e8715f);
    background-image: -ms-linear-gradient(top, #bc0332, #e8715f);
    background-image: -o-linear-gradient(top, #bc0332, #e8715f);
    background-image: linear-gradient(top, #bc0332, #e8715f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6); }

.uninstall-app-in-background {
  padding: 7px 23px;
  color: #fff;
  font-size: 16px;
  font-weight: bold; }

.install-app-in-background {
  padding: 7px 23px;
  color: #fff;
  font-size: 16px;
  font-weight: bold; }
  .install-app-in-background:before {
    content: "";
    display: block;
    background: url(../images/install_icon.png) no-repeat left center;
    float: left;
    width: 11px;
    height: 11px;
    margin: 4px 7px 0 0; }

.app-content {
  margin: 0 0 0 340px; }
  .app-content ul {
    list-style: inside; }
  .app-content .install {
    margin-top: 30px;
    display: inline-block; }

.app-description {
  margin: 0;
  color: #444 !important;
  font-size: 12px; }

.app-more {
  margin-top: 15px; }
  .app-more a {
    background: url(../images/more.png) no-repeat;
    display: inline-block;
    text-indent: -9999px;
    height: 24px;
    width: 24px;
    margin: 0 0 0 11px;
    position: relative;
    top: -4px; }

#btn-get-apps {
  color: #000;
  font-size: 20px;
  line-height: 48px;
  font-weight: bold;
  background: url(../images/install-app.png) no-repeat;
  display: inline-block;
  padding: 0 0 0 50px;
  margin: 0 30px;
  float: right; }

#btn-install-apps {
  color: #000;
  font-size: 20px;
  line-height: 48px;
  font-weight: bold;
  background: url(../images/install.png) no-repeat;
  display: inline-block;
  padding: 0 0 0 50px;
  margin: 0 30px;
  float: left; }

.install-button .install-app-in-background {
  text-decoration: none; }

.theme-image {
  vertical-align: middle;
  border: 0; }

.initial-user-more {
  float: right; }

.warning {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: #ffffe0;
  border-color: #e6db55;
  margin: 0 0 0 10px;
  display: inline-block; }

#shares .warning {
  margin: 0 0 20px 97px; }

#new_host td:first-child {
  text-align: right;
  padding: 0 10px 0 0; }
#new_host .messages {
  margin: 0 10px; }

#host_address {
  margin-left: 5px; }

.theme-thumbs {
  margin: 10px;
  padding: 10px;
  border: 1px solid #dfdfdf; }
  .theme-thumbs a {
    margin: 0 10px 0 0; }
  .theme-thumbs img {
    border: 1px solid #dfdfdf; }
    .theme-thumbs img:hover {
      border: 1px solid black; }

#theme_sshot_image {
  margin: 0 0 20px 0; }
  #theme_sshot_image img {
    border: 1px solid #dfdfdf; }

.share #share_path {
  margin-bottom: 10px; }
.share .action-button {
  margin-top: 5px; }

#search-types {
  border-top: 1px solid #506480;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 10px 0 20px; }

#search-menu {
  list-style: none;
  *zoom: 1; }
  #search-menu:before, #search-menu:after {
    display: table;
    content: "";
    line-height: 0; }
  #search-menu:after {
    clear: both; }
  #search-menu li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #000;
    line-height: 12px; }
    #search-menu li.results {
      float: right;
      border: 0; }

#search-results {
  padding: 0 15px 15px;
  color: #4c994c; }
  #search-results ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #search-results ul > li {
      margin: 0 0 8px; }
  #search-results .search-filename {
    *zoom: 1;
    font-size: 13px; }
    #search-results .search-filename:before, #search-results .search-filename:after {
      display: table;
      content: "";
      line-height: 0; }
    #search-results .search-filename:after {
      clear: both; }
    #search-results .search-filename img {
      display: block;
      float: left;
      margin: 0 11px 0 0;
      vertical-align: bottom; }
  #search-results .search-location {
    padding: 0 0 0 31px;
    margin: -1px 0 0; }
    #search-results .search-location small, #search-results .search-location em {
      font-size: 12px; }
    #search-results .search-location em {
      font-style: normal;
      color: #6c7c80; }
    #search-results .search-location .file-icon img {
      vertical-align: bottom;
      display: inline-block; }
  #search-results .even {
    background-color: #f8f8f8; }

#search-pagination .pagination {
  text-align: center;
  width: 100%; }
  #search-pagination .pagination .next_page a, #search-pagination .pagination .previous_page a {
    border: 0 none;
    padding: 0 7px 0 0; }
  #search-pagination .pagination em {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #373737;
    margin: 0 4px;
    padding: 1px 4px;
    width: auto; }
  #search-pagination .pagination a {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #E0E0E0;
    color: #0191D2;
    margin: 0 4px;
    padding: 1px 4px;
    width: auto; }

#footer {
  position: relative;
  margin-top: -50px;
  width: 100%;
  background: #333;
  height: 32px;
  text-align: center;
  padding: 18px 0 0 0;
  color: white;
  clear: both; }
  #footer a {
    color: #fff; }
  #footer .inside {
    width: auto;
    display: table;
    margin: 0 auto; }
  #footer .copy, #footer nav {
    float: left; }
  #footer .copy {
    margin: 0 15px 0 0; }
  #footer nav > ul {
    list-style: none;
    *zoom: 1; }
    #footer nav > ul:before, #footer nav > ul:after {
      display: table;
      content: "";
      line-height: 0; }
    #footer nav > ul:after {
      clear: both; }
    #footer nav > ul li {
      float: left;
      margin: 0 15px 0 0; }
      #footer nav > ul li:before {
        content: '|';
        line-height: 18px;
        float: left;
        margin: 0 15px 0 0;
        position: relative;
        top: -2px; }

#debug_submit_link input {
  margin-top: 25px; }

#users-table .users-col1 span {
  float: left; }
#users-table .users-col1 a {
  margin: 0 10px 0 0; }

.users-col1 {
  position: relative; }

#users-table .users-col1 a {
  margin: 0 0 0 10px; }

.user_icons {
  display: block;
  width: 19px;
  height: 19px;
  margin-top: 8px; }

.user_admin {
  background: url(../images/admin.png) no-repeat; }

.user_warn {
  background: url(../images/icon_user_warning.png) no-repeat;
  height: 21px; }

.create-new-inside {
  padding: 15px;
  margin: -10px 0; }
  .create-new-inside .messages {
    width: 300px; }

.password-edit .messages {
  width: 300px; }

#error_explanation {
  background: #fadddd;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #a00;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #a00; }
  #error_explanation ul {
    margin: 0 1em; }

.center {
  border: 1px solid #dfdfdf;
  width: 80%;
  margin: 20px auto;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

#shares .center {
  margin-top: 0;
  margin-bottom: 0; }

.spinner {
  margin-left: 10px;
  background: url(../images/working.gif) no-repeat left center;
  padding: 16px; }

/* Tags area */
.tags #share_tags, #update-path-form input#share_path, .user-edit input#user_name {
  margin: 0; }

.update-tags-form {
  position: relative;
  top: -4px;
  margin: 0 0 -8px; }

.shares-users-table {
  margin: 5px 10px 10px 0;
  width: 220px; }

.shares-fixed-tags {
  padding: 0 0px 10px; }
  .shares-fixed-tags span {
    display: inline-block;
    margin: 0 5px 0 0; }
  .shares-fixed-tags input {
    position: relative;
    top: 2px; }

td.form-action-wrap {
  padding: 0 7px 0 0;
  vertical-align: top; }

.tag-form-wrap input {
  margin: 3px 0 0 0; }

.settings-fields .tag-main-wrap {
  padding-bottom: 0; }

.open-update-tags-area, .open-update-workgroup-area {
  display: inline-block;
  margin-bottom: 8px; }

.action-button {
  margin: 8px 0; }

.field_with_errors input {
  background-color: #fdfec3; }

.more-info {
  padding: 7px;
  text-align: left; }

span.server_status i.stopped {
  margin: -.3em 1em;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/server/stopped.png) no-repeat; }
span.server_status i.running {
  margin: -.3em 1em;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/server/running.png) no-repeat; }

.collapsed-div-style{
  background: #fff;
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 4px;
}

.user-manage i.auth {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/auth.png) no-repeat; }
.user-manage i.password {
  width: 19px;
  height: 20px;
  display: inline-block;
  background: url(../images/password.png) no-repeat; }

.editable {
  font-weight: bold; }

.search-location {
  color: #009000; }

/* firewall settings in network tab */
.fw-box {
  text-align: left;
  padding: 20px; }

.fw-label {
  width: 100px;
  text-align: right; }

.fw-selection table tr:first-child td {
  padding-bottom: 10px; }

.fw-setting {
  height: 30px; }

.messages {
  margin-top: 8px;
  color: #a44; }

#network-settings {
  text-align: left; }

.app-flash-notice {
  border: 1px solid #9ee894;
  background: #d0ffca;
  margin: 10px 30px 10px 30px;
  padding: 20px 0 20px 0;
  text-align: center; }

#nav {
  float: right;
  font-size: 1em; }

.app-store-count {
  font-size: 42px;
  font-weight: bold; }

.app-store-header {
  font-size: 14px;
  padding: 5px 0 60px 0;
  text-align: center; }

.focus {
  cursor: pointer;
  font-weight: bold;
  color: #000; }

.no-wrap {
  white-space: nowrap; }

textarea {
  border: 1px solid #ccc; }

.tools {
  background: url(../images/tools.png) no-repeat;
  display: block;
  height: 25px;
  width: 26px; }

.hide {
  display: none; }

#theme-sshot {
  height: 100%;
  width: 100%; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-warn {
  color: #FF0000;
  background-color: #F7BE81;
  border-color: #FF4000; }
  .alert-warn a {
    color: #B40404; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.debug-form {
  margin-top: 10px !important;
  margin-left: 20px !important; }

.install-apps, .get-apps {
  float: left;
  width: 50%; }

.cancel-btn-style{
  background: white;
  border: 0px;
  color: #17a2b8 !important;
  font-size: 13px;
  cursor: pointer;
}

.name_click_change{
  color: #505050 !important;
}

.cancel-btn-style:hover{  
  background: white;
  border: 0px;
  color: #17a2b8 !important;
  font-size: 13px;  
  text-decoration: underline !important;
}

.setup-main-tab{
  width: 485px; 
  border-bottom: 0px;
}

.setup-subtab-container{
  padding: 20px 10px 8px 30px; 
  background: #dedede1c; 
  border: 1px solid #d8d8d8; 
  border-top-width: 0.5px;
}

.all-subtab-container{
  display: none;
}

.single-subtab-container{
  display: block;
}

.setup-subtab{
  border: 0px;
}

.f-size13{
  font-size:13px;
}

.f-size22{
  font-size:22px;
}

#preferences{
  background: #1111111a;  
}

.input-field-style{
  width: 220px !important;
  font-size: 12px !important;
}

#new-user-form{
  background: white; 
  margin-top: 8px; 
}

span.progress{
  height: 32px;
}

span.install-button a{
  text-decoration: none;
  color: white;
}

span#setting_dns select{
  font-size: 13px;
}