// --------------------------------------------------
// Amahi - Import Default Theme styling
// --------------------------------------------------
@import "../../default/stylesheets/_mixins.css.scss";

// --------------------------------------------------
// Amahi - Custom theme css/sass
// --------------------------------------------------
// --------------------------------------------------
// Dashboard
// --------------------------------------------------

#preferencestabs {
  width: 145px;
  float: left;
  border: 1px solid #e8e8e8;
  border-bottom-color: #dfdfdf;
  @include border-radius(5px 0 0 5px);
  @include background-gradient(#fcfcfc, #f7f7f7);
}


#preferences {
  width: 770px;
  float: left;
  border: 1px solid #e8e8e8;
  padding: 20px;
  @include border-radius(0 5px 5px 5px);
}


// App Navigation
// --------------------------------------------------

nav.preftab {
  @include border-radius(5px 0 0 0);
  > ul {
        list-style: none;
        @include clearfix;

        li {
          width: 145px;
          float: left;
          border-right: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;
          &.preftabheaderActive {
            border-bottom: none;
            a {
              background: #fff;
              color: #3f3f3f;
            }
          }

          a {
            display: block;
            line-height: 38px;
            padding: 0 28px;
            font-size: 12px;
            font-weight: bold;
            color: #b3b3b3;
            &:hover { text-decoration: none; }
          }
        }
      }
  ul.prefsubtab {
    list-style: none;
    @include clearfix;
    li {
      a:before {
        content: '- ';
        padding-left: 1em;
      }
      background: #fff;
      color: #3f3f3f;
      border-right: none;
      border-bottom: none;
    }
    li.last {
      border-right: none;
    }
    a {
      display: block;
      line-height: 28px;
      padding: 0 28px;
      font-size: 12px;
      font-weight: bold;
      color: #b3b3b3;
      &:hover { text-decoration: none; }
    }
  }
}
